@keyframes slideIn {
    from {
        transform: translateX(100%);
        opacity: 0;
    }

    to {
        transform: translateX(0%);
        opacity: 1;
    }
}

@keyframes shake-soft {
    0% {
        transform: translateX(0);
    }

    5% {
        transform: translateX(-2px);
    }

    10% {
        transform: translateX(2px);
    }

    15% {
        transform: translateX(-1px);
    }

    20% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(0);
    }

    /* Статична частина (затримка між циклами) */
}