@use "/src/sass/base/variables.scss" as *;

@mixin title {
    font-weight: 500;
    font-style: normal;
    text-transform: uppercase;
    line-height: normal;
    color: $dark;
    text-align: center;
}

@mixin button {
    padding: 0 10px;
    border: 1px solid $dark;
    border-radius: 2px;
    text-align: center;
    color: $dark;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    font-style: normal;
    background-color: transparent;
    display: block;

}

@mixin angle-decoration {

    &::before,
    &::after {
        position: absolute;
        top: 0;
        left: 0;
        content: '';
        background-color: $dark;
    }

    &::after {
        width: 1px;
        height: 200px;
    }

    &::before {
        width: 200px;
        height: 1px;
    }
}